<nav class="navbar sticky-top navbar-light bg-light navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a href="#" class="navbar-brand d-flex flex-lg-row flex-sm-row align-items-center">

      <!-- Logo Image -->
      <img src="/img/site/logo.png" width="150" alt="" class="d-inline-block align-middle mr-2 float-left">
      <!-- Logo Text -->
      <h2>Association Autour du Rhonel<br>
      <span id="subTitle" class="ml-4 d-inline">... des histoires, un patrimoine.</span><h2>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="#asso"     class="nav-link d-flex flex-lg-column flex-sm-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/asso1.png"     width="80" alt=""> <span class="px-3">L'association</span> <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="#membre"   class="nav-link d-flex flex-lg-column flex-xs-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/membre2.png"   width="80" alt=""> <span class="px-3">Nos membres</span></a></li>
        <li class="nav-item"><a href="#galerie"  class="nav-link d-flex flex-lg-column flex-xs-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/galerie.png"  width="80" alt=""> <span class="px-3">Galerie</span></a></li>
        <li class="nav-item"><a href="#press"    class="nav-link d-flex flex-lg-column flex-xs-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/press.png"    width="80" alt=""> <span class="px-3">Reportages</span></a></li>
        <li class="nav-item"><a href="#activity" class="nav-link d-flex flex-lg-column flex-xs-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/activity.png" width="80" alt=""> <span class="px-3">Activités</span></a></li>
        <li class="nav-item"><a href="#mail"     class="nav-link d-flex flex-lg-column flex-xs-row align-items-center"> <img class="d-inline-block m-lg-auto" src="/img/icone/mail1.png"     width="80" alt=""> <span class="px-3">Contact</span></a></li>
      </ul>
    </div>
  </div>
</nav>
